/* background*/
.background {
  /* background: rgb(149, 69, 53); */
  /* background-image:
  linear-gradient(45deg, #808080 25%, transparent 25%), 
  linear-gradient(-45deg, #808080 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #808080 75%),
  linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size:20px 20px;    
  background-position:0 0, 10px 0, 10px -10px, 0px 10px; */
  background-image: url("../images/vectorstock_42372271.jpg");
  background-size: 800px;
  /* linear-gradient(0deg, transparent 50%, rgb(149, 69, 53) 50%),
  linear-gradient(90deg, rgb(149, 69, 53) 50%, rgb(129,134,165)50%);
  background-size:100px 100px,50px 50px;
  background-position:0 0, 0 10px; */
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.pad {
  background: grey;
}


/* actors */
.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
}

.glasses {
  background: purple;
}

.player {
  background: rgb(250, 149, 34);
}

.teleport_forward {
  background: blue;
}

.teleport_backward {
  background: blueviolet;
}

.teleport_backward .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.teleport_forward .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}


/* player win lose */
.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

/* game overflow */
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}