/* background*/
.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.pad {
  background: grey;
}


/* actors */
.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
}

.glasses {
  background: purple;
}

.player {
  background: rgb(250, 149, 34);
}

.teleport_forward {
  background: blue;
}

.teleport_backward {
  background: blueviolet;
}

.teleport_backward .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.teleport_forward .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}


/* player win lose */
.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

#score {
  color: white;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  padding-top: 20%;
  padding-right: 10%;
  padding-bottom: 20%;
  padding-left: 10%;
  font-size: 30px;
  color: white;
}

/* game overflow */
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}